@mixin botones{
    .btn{
        text-decoration: none;
        &:hover{
            transform: scale(1.1,1.1);
            color: $color-btn-hover;
            background-color: $color-bg-btn;
           }
        }
}
body{
    max-width: 100%;
    overflow-x: hidden;
}
#buttons{ 
    a{ 
    color: $color-btn;
    transition: all .3s;
    @include botones
    }
}
.card-body{
    .card-text{
        color: $color-texto;
    }
    @include botones
}
.textoI{
    color: $color-texto;
    font-size: 1.2rem;
    padding: 20px;
    }


@media only screen and (max-width:768px){
    .textoI{
        font-size: 1rem;
    }
    .secciones{
        display: flex;
        justify-content: space-evenly;
        .seccion{
            flex-direction: row; 
        }
    }
    .redes{
        display: flex;
        justify-content: space-evenly;
        .red{
            flex-direction: row;
        }
    }
    #reseña{
        width: 80%;
    }
}
.mapa{
    transition: all .7s;
    &:hover{  
    box-shadow: 5px 5px 50px 7px #999;
    }
}
.form{
    @extend .mapa
}
.card-body{
    transition: all .7s;
}
.stepImg{
    width: 15vw;
}
#reseña{
    width: 60vw;
    border-radius: 10px;
}
.clientes{
    width: 85%;
}