@mixin botones{
    .btn{
        text-decoration: none;
        &:hover{
            transform: scale(1.1,1.1);
            color: $color-btn-hover;
            background-color: $color-bg-btn;
           }
        }
}
#buttons{ 
    a{ 
    color: $color-btn;
    transition: all .3s;
    @include botones
    }
}
.card-body{
    .card-text{
        color: $color-texto;
    }
    @include botones
}
.textoI{
    color: $color-texto;
    font-size: 1.2rem;
    padding: 20px;
    }
@media only screen and (max-width:600px){
    .textoI{
        font-size: 1rem;
    }
}
.mapa{
    transition: all .7s;
    &:hover{  
    box-shadow: 5px 5px 50px 7px #999;
    }
}
.form{
    @extend .mapa
}
.card-body{
    transition: all .7s;
}