*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    text-decoration: none;
    
}
#navbarSupportedContent ul li a{
    transition: all .3s;
    &:hover{
        transform: scale(1.1,1.1);
        border-radius: 5px;
        color: $color-btn;
        background-color: $color-bg-btn;
    }
}
.logo{
    width: 15vw;
}
.logo1{
    width: 5vw;
}